[Unit]
Description=SeRAPiS Relay service
After=multi-user.target

[Service]
User=pi
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/myServiceRelays.py
StandardOutput=file:/home/pi/relay_stdout
StandardError=file:/home/pi/relay_stderr

[Install]
WantedBy=multi-user.target